@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import './animate.min.css';

:root {
  --font-family: "Plus Jakarta Sans", sans-serif;
  --section-spacing: 64px;
  --heading-spacing: 32px;
  --text-white: #FFFFFF;
}

@media (max-width: 599px) {
  :root {
    --section-spacing: 50px;
    --heading-spacing: 22px;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

#__next {
  /* min-height: 100vh;
  min-height: 100dvh; */
  display: flex;
  flex-flow: column;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}



button,
input {
  font-family: var(--body-font)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="file" i]::-webkit-file-upload-button {
  font-family: inherit;
}

img {
  height: 100%;
  width: 100%;
}

img,
video {
  object-fit: contain;
  max-width: 100%;
}

.blog-description {
  word-break: break-all;
}

.blog-description pre {
  background-color: black;
  color: var(--text-white);
  padding: 1rem;
  overflow-x: scroll;
  border-radius: 10px;
}


/* Utility Classes
======================== */
/* Line Overflow */
.line-1,
.line-2,
.line-3,
.line-4,
.line-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-1 {
  -webkit-line-clamp: 1
}

.line-2 {
  -webkit-line-clamp: 2
}

.line-3 {
  -webkit-line-clamp: 3
}

.line-4 {
  -webkit-line-clamp: 4
}

.line-5 {
  -webkit-line-clamp: 5
}



/* ========flex classes============ */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.content-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.section-padding {
  padding-top: var(--section-spacing);
  padding-bottom: var(--section-spacing);
}

.section-padding-top {
  padding-top: var(--section-spacing);
}

.section-padding-bottom {
  padding-bottom: var(--section-spacing);
}

.section-margin {
  margin-top: var(--section-spacing);
  margin-bottom: var(--section-spacing);
}

.section-margin-top {
  margin-top: var(--section-spacing);
}

.section-margin-bottom {
  margin-bottom: var(--section-spacing);
}


/* === heading section  === */
.heading-padding {
  padding-top: var(--heading-spacing);
  padding-bottom: var(--heading-spacing);
}

.heading-padding-top {
  padding-top: var(--heading-spacing);
}

.heading-padding-bottom {
  padding-bottom: var(--heading-spacing);
}

.heading-margin {
  margin-top: var(--heading-spacing);
  margin-bottom: var(--heading-spacing);
}

.heading-margin-top {
  margin-top: var(--heading-spacing);
}

.heading-margin-bottom {
  margin-bottom: var(--heading-spacing);
}

/*  == text wrap ==  */

.text-nowrap {
  text-wrap: nowrap;
}

/* == scroll == */
.scroll-X {
  overflow-x: scroll;
}

/* == cursor-pointer == */
.cursor-pointer {
  cursor: pointer;
}


/* === blur css===*/
.blurred-content {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 20px 20px;
}


/* Swiper Slider
======================== */
.swiper {
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-color: white;
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-bullet-inactive-opacity: 0.35;
  --swiper-navigation-size: 15px;
  user-select: none;
}

.swiper-pagination-bullet[class] {
  width: 15px;
  height: 10px;
  border-radius: 50px;
  transition: 0.3s;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active[class] {
  width: 30px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  width: 38px !important;
  height: 38px !important;
  background-color: rgba(17, 17, 17, 0.75);
  border-radius: 8px !important;
  transition: background-color .2s !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(17, 17, 17, 1);
}



/* nProgress
======================== */
#nprogress .bar {
  background: var(--palette-primary-main) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--palette-primary-main), 0 0 5px var(--palette-primary-main);
}